<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SISTEMA DE BIBLIOTECA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .jumbotron {
        padding: 2rem 1 rem;
        margin-bottom: 2rem;
        background-color: azure;
        border-radius: 0.3 rem;
      }
    </style>
  </head>
  <body>

    <html>
      <head>
          <title>Sistema de Biblioteca</title>
          </head>
      <body>
          <nav>
              {% if user.is_authenticated %}
                  <p>Bienvenido, {{ user.username }}!</p>
                  <a href="{% url 'logout' %}">Cerrar Sesión</a>
              {% else %}
                  <a href="{% url 'login' %}">Iniciar Sesión</a>
                  <a href="{% url 'register' %}">Registrarse</a>
              {% endif %}
          </nav>
      
          {% block content %}
          {% endblock %}
      </body>
      </html>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid justify-content-center align-items-center" style="background-color: #00578E;">
        <span class="navbar-brand lb-1 h3 text-light">
          <img src="{% static '/logo_2_biblioteca.png' %}" alt="logo_2_biblioteca" height="45"> 
          BIBLIOTECA ESCOLAR</span>
      </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center">
      <ul class="nav nav-underline">
        <li class="nav-item">
          {% if current_tab == 'home' %}
            <a class="nav-link active" aria-current="page" href="/home">HOME</a>
          {% else %}
            <a class="nav-link" aria-current="page" href="/home">HOME</a>
          {% endif %}
      </li>
      <li class="nav-item">
        {% if current_tab == 'lectores' %}
          <a class="nav-link active" aria-current="page" href="/lectores">LECTORES</a>
      {% else %}
          <a class="nav-link" aria-current="page" href="/lectores">LECTORES</a>
      {% endif %}
      </li>
      <li class="nav-item">
        {% if current_tab == 'mochila' %}
          <a class="nav-link active" aria-current="page" href="/mochila">MOCHILA</a>
      {% else %}
          <a class="nav-link" aria-current="page" href="/mochila">MOCHILA</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if current_tab == 'libros' %}
        <a class="nav-link active" aria-current="page" href="/libros">LIBROS</a>
    {% else %}
        <a class="nav-link" aria-current="page" href="/libros">LIBROS</a>
    {% endif %}
    </li>
      <li class="nav-item">
        {% if current_tab == 'videos' %}
          <a class="nav-link active" aria-current="page" href="/videos">AUDIOCUENTOS</a>
      {% else %}
          <a class="nav-link" aria-current="page" href="/videos">AUDIOCUENTOS</a>
      {% endif %}
      </li>
    </ul>
  </div>
    </nav>
    {% block main_content %}
    {% endblock %}
  </body>
</html>