<!doctype html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}

<div class="container mt-4"> 
    <div class="row mb-4"> <div class="col-md-12">  
            <img src="{% static 'arribabuscarlectores.jpg' %}" class="img-fluid" alt="Imagen de Lectores">
        </div>
    </div>
            <h4>Buscar lectores</h4>
            <div class="row">
                <nav class="navbar bg-body-light">
                    <div class="container-fluid justify-content-center align-items-center">
                        <form class="d-flex" role="search" method="GET" action="{% url 'lectores' %}">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" value="{{ query }}">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="row" style="margin-top: 20px;">
                <p>{{ lectores|length }} lectores suscritos.</p> 
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="container" style="overflow-y:auto;height: 400px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Matricula</td>
                                <td>Lector</td>
                                <td>Curso</td>
                                <td>Observaciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lector in lectores %} 
                                <tr>
                                    <td>{{ lector.matricula }}</td> 
                                    <td>
                                        {% if lector.activo %}
                                            <span class="btn btn-success">{{ lector.nombre }}</span> 
                                        {% else %}
                                            <span class="btn btn-secondary">{{ lector.nombre }}</span> 
                                        {% endif %}
                                    </td>
                                    <td>{{ lector.curso }}</td>
                                    <td>{{ lector.observaciones }}</td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}

