<!doctype html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}

<div class="container mt-4">
    <div class="row mb-4"> <div class="col-md-12"> <img src="{% static 'arribalibros.jpg' %}" class="img-fluid" alt="Imagen de Libros Disponibles"> </div>
    </div>
    
    <h2>Libros Disponibles</h2>

    <form class="d-flex mb-3" role="search" method="GET" action="{% url 'libros' %}">
        <input class="form-control me-2" type="search" placeholder="Título" aria-label="Título" name="titulo" value="{{ titulo }}">
        <input class="form-control me-2" type="search" placeholder="Autor" aria-label="Autor" name="autor" value="{{ autor }}">
        <input class="form-control me-2" type="search" placeholder="Género" aria-label="Género" name="genero" value="{{ genero }}">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

    {% if query %}
        <p>Resultados de la búsqueda para: {{ query }}</p>
    {% endif %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Portada</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Género</th>
                <th>Disponibles</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <td>
                        {% if libro.imagen %}
                            <img src="{{ libro.imagen.url }}" class="img-thumbnail" alt="Portada de {{ libro.titulo }}" style="max-width: 50px;"> 
                        {% else %}
                            <p>Sin portada</p>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'detalle_libro' libro.id %}">{{ libro.titulo }}</a></td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.genero }}</td>
                    <td>{{ libro.cantidad_disponible }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
