{% extends "index.html" %}
{% load static %}

{% block main_content %}

<div class="container mt-4">

    <div class="row mb-4">
        <div class="col-md-12">
            <img src="{% static 'arribamochila.jpg' %}" class="img-fluid" alt="Imagen de Mochila">
        </div>
    </div>

<h2>Mochila</h2>

<div id='calendar'></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        {% for prestamo in prestamos %}
          {
            title: '{{ prestamo.libro.titulo }}',
            start: '{{ prestamo.fecha_prestamo }}',
            end: '{{ prestamo.fecha_devolucion }}', 
          },
        {% endfor %}
      ]
    });
    calendar.render();
  });
</script>


{% if user.is_authenticated %}
    {% if prestamos %}
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Fecha de Préstamo</th>
                    <th>Fecha de Devolución</th>
                </tr>
            </thead>
            <tbody>
                {% for prestamo in prestamos %}
                    <tr>
                        <td>{{ prestamo.libro.titulo }}</td>
                        <td>{{ prestamo.libro.autor }}</td>
                        <td>{{ prestamo.fecha_prestamo }}</td>
                        <td>{{ prestamo.fecha_devolucion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tienes libros en préstamo actualmente.</p>
    {% endif %}
{% else %}
    <p>Por favor, inicia sesión para ver tus libros en préstamo.</p>
{% endif %}
{% endblock %}